################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/Connect-4/v16/Browse.VC.db
/.vs/Connect-4/v16/ipch/AutoPCH/c08e6c1b47fc2eb8
/.vs/Connect-4/v16
/.vs
